.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header nav ul li {
  margin: 0 15px;
}

.header nav ul li a {
  text-decoration: none;
  color: #000;
}

.header nav ul li a:hover {
  text-decoration: underline;
}

.banner {
  background-image: url("../public/library.jpeg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  padding: 0 25%;
  text-align: center;
}

.banner p {
  font-size: 3rem;
  margin-bottom: 0px;
}

.banner button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
}

.banner button:hover {
  padding: 15px 25px;
}

/* Categorias */

.categorias h2 {
  margin: 50px 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.categoria {
  text-align: center;
}

.categoria-imagen {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s;
}

.categoria-imagen:hover {
  transform: scale(1.05);
}

.categoria h3 {
  margin-top: 10px;
}

/* libro */

.libros-recomendados h2 {
  margin: 50px 0;
}

.libros-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.libros-grid .libro.large {
  grid-row: span 2;
}

.libro {
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.libro:hover {
  transform: scale(1.05);
}

.libro-imagen {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.libro h3 {
  margin-top: 10px;
}

.libro p {
  margin: 5px 0;
}

/* Footer */

.footer {
  margin-top: 4rem;
  border-top: 1px solid #e7e7e7;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

.footer-container ul {
  list-style: none;
  padding: 0;
}

.footer-container ul li {
  margin-bottom: 10px;
}
