.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header nav ul li {
  margin: 0 15px;
}

.header nav ul li a {
  text-decoration: none;
  color: #000;
}

.header nav ul li a:hover {
  text-decoration: underline;
}
